@use "../../abstracts/" as *;

.card-item-container {
  display: flex;
  gap: 30px;
  padding: 40px 33px 40px 40px;

  width: 100%;
  max-width: 900px;
  min-height: 80vh;

  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: $card-large-shadow;

  border-radius: 20px;
  color: $secondary-color;

  .left-container,
  .right-container {
    flex: 1;

    .card-wrapper {
      position: relative;
      overflow: hidden;
      border-radius: 20px;
      box-shadow: $card-medium-shadow;

      &::after {
        content: "";
        position: absolute;
        top: -50%;
        left: -100%;
        width: 60%;
        height: 200%;
        background: linear-gradient(
          120deg,
          transparent,
          rgba(255, 255, 255, 0.4),
          transparent
        );
        transform: rotate(25deg);
        animation: shine 0.7s 1.5s ease forwards;
      }

      img.card-image {
        width: 800px;
        height: 560px;

        border: 1px solid transparent;
        border-radius: 10px;
      }
    }
  }
}

@keyframes shine {
  from {
    left: -100%;
  }
  to {
    left: 150%;
  }
}

/* LEFT CONTAINER with image, favourite button and details */

.left-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .image-details-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    font-size: $vsmall-font;

    .favourite-button {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 4px 6px;
      border-radius: 5px;
      background-color: $light-accent-color;
      font-family: $primary-font;
      transition:
        transform 0.2s ease,
        background-color 0.2s ease;

      &:hover {
        transform: scale(1.05);
        background-color: $accent-color;
      }

      img {
        width: 18px;
      }
    }

    .details-wrapper {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}

/* RIGHT CONTAINER with card statistics and details */

.right-container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  h2 {
    font-size: $vlarge-font;
  }

  /* statistics cards - health, type, weaknesses, retreat */

  .stats-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .stat {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      width: 185px;
      height: 50px;
      padding: 5px 10px;

      border-radius: 15px;
      font-size: $small-font;
      background-color: $grey-color;

      .stat-title {
        font-weight: 600;
        font-style: italic;
      }

      .icon-value-wrapper {
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }
  }
}

/* abilities */

.ability-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: $small-font;

  .icon-title-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;

    .ability-title {
      padding: 0 5px;
      border: 1px solid $light-accent-color;
      border-radius: 5px;
      background-color: $light-accent-color;
      font-size: $vsmall-font;
    }

    .ability-name {
      font-weight: 600;
      font-style: italic;
    }
  }

  .ability-effect {
    opacity: $medium-opacity;
    padding-left: 5px;
  }
}

/* attacks */

.attack-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  margin-right: 16px;

  font-size: $small-font;
  border-radius: 15px;
  background-color: $grey-color;

  .cost-name-damage-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .cost-name-wrapper {
      display: flex;
      align-items: center;
      gap: 10px;

      .cost-wrapper {
        display: flex;
        gap: 3px;
      }

      .attack-name {
        font-weight: 600;
        font-style: italic;
      }
    }
  }

  .attack-effect {
    opacity: $medium-opacity;
  }
}

@media (max-width: 610px) {
  .card-item-container {
    flex-direction: column;
    max-height: 100vh;
    height: 90%;
    overflow-y: scroll;

    .left-container {
      padding-top: 50px;
      img.item-image {
        height: 510px !important;
      }

      .details-wrapper {
        font-size: 0.6rem;
      }
    }

    .right-container {
      h2 {
        position: absolute;
        bottom: 81vh;
      }

      .stats-container .stat {
        width: 165px;
        height: 50px;
      }
    }
  }
}
