@use "../../abstracts/" as *;

.cards-grid-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding-top: 10px;

  .card-wrapper {
    // puts border over card image
    overflow: hidden;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: transform 0.1s ease;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    box-shadow: $card-small-shadow;

    &:hover {
      transform: scale(1.05);
    }

    img.card {
      @extend %card-small;
    }
  }
}

@media (max-width: 450px) {
  img.card {
    width: 180px !important;
    height: 260px !important;
  }
}
