@use "../../abstracts/" as *;

.filter-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  border-right: 3px solid $primary-color;
  background: linear-gradient(to bottom, #f9d233, #f5c104);
}

.filter-container form {
  width: 180px;
}

.type-container,
.variant-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-wrapper {
  display: flex;
  gap: 8px;
}

.input-wrapper label {
  font-size: $small-font;
}
