@import url("https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap");

$primary-font: "Grandstander", "Segoe UI", sans-serif;
$secondary-font: "Segoe UI", Helvetica, Arial, sans-serif;

$primary-color: var(--primary-color, whitesmoke);
$secondary-color: var(--secondary-color, #1b1b1b);
$accent-color: #ff0000;
$light-accent-color: rgba(255, 0, 0, 0.7);
$grey-color: rgba(255, 255, 255, 0.807);
$blue-color: rgb(11, 80, 153);

$primary-bg-color: #ffde00;
$primary-bg-dark-color: #f2d307;
$primary-bg-gradient-color: var(
  --primary-bg-gradient-color,
  radial-gradient(circle at top, rgba(255, 255, 255, 0.06), transparent 60%),
  #1a1a19
);

$secondary-bg-gradient-color: var(
  --secondary-bg-gradient-color,
  linear-gradient(to right, #f9d233, #f5c104)
);
$secondary-bg-gradient-filterbar-color: var(
  --secondary-bg-gradient-filterbar-color,
  linear-gradient(to bottom, #f9d233, #f5c104)
);

$vlarge-font: 3rem;
$large-font: 1.5rem;
$medium-font: 1rem;
$small-font: 0.9rem;
$vsmall-font: 0.8rem;

$large-gap: 20px;
$medium-gap: 15px;
$small-gap: 10px;
$vsmall-gap: 5px;

$card-medium-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
$card-small-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
