@use "../scss/abstracts/" as *;

.cardsPage-container,
.collectionPage-container {
  display: flex;

  //? WHY IS IT NOT CENTERING?

  .cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 20px;
    height: 93dvh;
    overflow-y: scroll;
    background: $primary-bg-gradient-color;
    color: $primary-color;

    .cards-title-container {
      display: flex;
      align-items: center;
      gap: 20px;

      h1 {
        font-weight: 600;
        font-family: $primary-font;
        font-size: $vlarge-font;
      }

      .counter {
        padding-top: 10px;
        font-size: $small-font;
        font-family: $primary-font;
      }
    }

    .search-container {
      display: flex;
      align-items: center;
      gap: 10px;

      .dropdown-button,
      .order-button {
        padding: 5px 10px;
        border: 2px solid $primary-color;
        border-radius: 30px;
        font-size: $vsmall-font;
        font-family: $primary-font;
      }
    }

    .quote {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      padding-bottom: 150px;
      gap: 10px;

      font-size: $large-font;
      font-weight: 400;
      font-family: $primary-font;
      opacity: 1;
      transition: opacity 0.6s ease;

      &.fade-out {
        opacity: 0;
      }

      img {
        width: 32px;
        padding-bottom: 5px;
      }
    }
  }

  .modal-backdrop {
    position: fixed;
    /* inset covers entire parent container */
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
  }
}
