.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
  gap: 60px;
  text-align: center;
  flex: 1;
  background-color: var(--yellow-dark);

  /* background-image: url('../../assets/pikachu.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat; */
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-family: var(--font-heading);
}

.title-container h1 {
  font-size: var(--vlarge);
}

.features-container {
  display: flex;
  flex-direction: column;
  width: 100dvw;
}

.featureOne-wrapper,
.featureTwo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px;
}

/* .featureOne-wrapper {
  background-color: rgb(255, 255, 255);
}

.featureTwo-wrapper {
  background-color: rgb(233, 231, 231);
} */

.home-card-image {
  width: 300px;
}

.quote-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  max-width: 35dvw;
  font-family: var(--font-heading);
}

.quote-wrapper h3 {
  font-size: 1.8rem;
  font-weight: 500;
}

.quote-wrapper p {
  font-family: var(--font-normal);
  font-weight: 300;
}

/*! MOVE BUTTON TO NEW COMPONENT */

.start-button {
  padding: 10px 20px;
  border: 4px solid #f55022;
  border-radius: 40px;
  background-color: #f55022;
  box-shadow: 0 0 5px #f55022;
  transition:
    transform 0.1s ease-in-out,
    box-shadow 0.3s ease-out;
  font-family: var(--font-heading);
  font-weight: 500;
}

.start-button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #f55022;
}