@use "../../../scss/abstracts/" as *;

.close-modal-button {
  position: absolute;
  padding: 3px;
  top: 1.5%;
  right: 1.5%;
  z-index: 2;
  border-radius: 10px;
  width: 36px;
}

@media (max-width: 500px) {
  .close-modal-button {
    top: 1.5%;
    right: 2%;
  }
}
