@use "../abstracts/" as *;

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 3px solid $primary-color;
  background: $secondary-bg-gradient-color;
  font-size: 1.1rem;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  .pokeball {
    position: absolute;
    width: 50px;
    opacity: 0.3;
  }
}

.logo-title-button {
  display: flex;
  gap: 5px;
  font-family: $primary-font;
}

.ui-container,
.pages-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.link {
  font-family: $primary-font;
  font-weight: bold;
  transition: color 0.1s ease-out;
}

.link:hover {
  color: $accent-color;
}

@media (max-width: 930px) {
  .nav-container {
    flex-direction: column;
    gap: 20px;
  }

  .ui-container {
    flex-direction: column;
    gap: 20px;
  }
}
