@use "../../abstracts/" as *;

.close-modal-button {
  position: absolute;
  padding: 3px;
  top: 2%;
  left: 95%;
  z-index: 2;
  border-radius: 10px;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.2);
  }
}
